#title {
  font-family: 'Rock Salt', cursive;
}

#signature {
  font-family: 'Rock Salt', cursive;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-color: #fff;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}
