#header {
  border-bottom: 1px solid gray;
}

#title {
  margin-top: 25px;
  margin-bottom: 40px;
}

#search-form {
  margin-top: 25px;
  margin-bottom: 40px;
}

#footer {
  left: 0;
  right: 0;
  bottom: 0;
  height: 75px;
  border-top: 1px solid gray;
  text-align: center;
  padding: 25px;
}
