@media (min-width: 650px) {
  #title {
    margin-top: 25px;
    margin-bottom: 40px;
    float: left;
  }

  #search-form {
    margin-top: 25px;
    float: right;
  }
}

@media (max-width: 650px) {
  #search-form {
    margin-bottom: 25px;
  }
}

#header {
  border-bottom: 1px solid gray;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#footer {
  left: 0;
  right: 0;
  bottom: 0;
  height: 75px;
  border-top: 1px solid gray;
  text-align: center;
  padding: 25px;
}
